body{
    
    background-image: url("img3.png");
    height: 400px;
    width:550px;
}

form{
    margin-left: 205px !important; 
    margin-top: 20px !important;
} 

input{
    
    color: rgb(93, 92, 92);
    background-color: rgb(211, 16, 16);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

button{
    color: white;
    background-color: rgb(54, 47, 47);
}
 
  
.predict_img{
    border: 10px solid rgb(255, 66, 68);
    border-radius: 10px;
    opacity: 0.1;
    margin-top: -1px;
    margin-left: 215px;
}

.output{
    color: rgb(255, 254, 254);
    margin-top: 1px;
    margin-left: 170px;
    margin-bottom: 1px;
}
 .wrapper{
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper:after{
    display: block;
    content: "";
    clear: both;
}
h1.logo{
    background-image: url(images/logo1.png);
    background-repeat: no-repeat;
    width: 100px;
    text-indent: -10000px;
    float: left;
}
header{
     background-color:none;
     top:0;
}

header nav{
    float: right;
}

header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}

header nav li a{
    text-decoration: none;
    color: #201C1C;
    font-size: 18px;
}
header nav li a:hover{
    color: #FDFCFC;
    transition: 0.2s ease-in;
}

#headtext{
    font-family: Helvetica;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    top: 300px;
    display: block;
}
#btn1{
    border-radius: 10px;
    width: 9%;
    background-color: #18C13A;
    padding: 5px;
    font-size: 20px;
    color: white;
     margin-left: 47%
}
#btn1:hover{
    background-color: #0C9B28;
}