body{
    
    background-image: url("img.png");
   width: 90%;
  height: 200%;
  margin: auto;
  text-align: center;
  padding: 50px;

} 

form{  
    margin-left: 205px;
    margin-top: 200px;
    padding: 20px;
  width: 610px;
  border-radius: 10px;
}

input{
    
     color: rgb(93, 92, 92);
    background-color: rgb(253, 252, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
#confidence{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 7.5%;
}

#content{
  margin: 0 auto;
  padding: 2% 15%;
  padding-bottom: 0;

}

.welcome{
   text-align: center;
   position: relative;
   color: honeydew;
   background-color:#2b0e66;
   padding-top: 1%;
   padding-bottom: 1%;
   font-weight: bold;
   font-family: 'Prompt', sans-serif;
}

#team_id{
   text-align: right;
   font-size: 20px;
   padding-right: 3%;
}
#result{
  font-size: 5rem;
}

#title{
  padding: 1.5% 15%;
  margin: 0 auto;
  text-align: center;
}

button{
    color: white;
    background-color: rgb(54, 47, 47);
    text-align: center;

}
 p{
  font-family: 'Source Code Pro', monospace,sans-serif;
  margin-top: 1%;
}